.wall {
  height: 50px;
  width: 50px;
  float:left;
}

.floor {
  height: 50px;
  width: 50px;
  float:left;
  background-color: white;
}

.player {
  height: 50px;
  width: 50px;
  float:left;
  
}

.health {
  height: 50px;
  width: 50px;
  float:left;
  background-color: green;
}

.enemy {
  height: 50px;
  width: 50px;
  float:left;
}

.darkness {
  height: 50px;
  width: 50px;
  float:left;
  background-color: black;
}

.weapon {
  height: 50px;
  width: 50px;
  float:left;
  background-color: purple;
}

.worldSize {
  width: 2300px;
}

#world {
  position: fixed;
  margin-top: 40px;
}
